* {
    margin: 0px;
    padding: 0px;
}
body {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgb(11,164,224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-bottom: 5px solid rgb(232,196,104);
}

.logo img {
    width: 120px;
    height: auto;
}

.menu ul {
    font-size: 20px;
    list-style: none;
    display: flex; 
    justify-content: space-between;
}

.menu ul li {
    margin: 10px;
    padding: 10px;
}
.menu ul li a:hover{
    color:rgb(235,205,110);
}
.back-link{
    background-color: 
    rgb(11,164,224);
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .back-link:hover{
    background-color: green;
    color: white;
  }
footer {
    background-color: rgb(11,164,224);
    padding-block: 10px;
    font-size: 20px;
    width: 100%; 
    bottom: 0;
}